<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle user finally F!</title>
    <link rel="icon" 
      type="image/png" 
      href="https://camo.githubusercontent.com/ccd43eae8216ef432b9d07413e0f7093cfa69317/68747470733a2f2f696d6167652e666c617469636f6e2e636f6d2f69636f6e732f7376672f323833342f323833343738342e737667">
</head>
<body>
    well you finally ‍‍⁡‌⁢‍⁢‍⁢⁣⁢‌⁤‌⁡⁣‍⁢⁣⁡‌⁢‍⁡‌‍⁡‍⁢⁢‍⁡⁣‍⁤⁡‍‌⁤‌⁢⁢‍⁢‌⁢‍⁢‍‌⁡‌⁡‍‍used omegle sussy baka.
</body>
</html>