<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME TO THE ALLEYWAY</title>
</head>
<body>
    <form method="post" action="/61a9cfb621f64cf5c8f1cab138fb5bc1cc9e928e/submit" id="form">
        <input type="input" placeholder="password" id="password" name="password" data-name="password" autocomplete="off">
        <input type="submit">
    </form>
</body>
</html>